*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: "Montserrat", sans-serif;
    background: rgb(0, 0, 82) !important;
}

.clock{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
    height: 100vh;
}
.text{
    color: #fff;
}